body {
  background-color: #f0efee;
}




.btn-bleep {
  position:relative;
  margin: 20px auto 0 auto;
  display: block;
	cursor: pointer;
  width:155px;
	height:55px;
  color: #f0efee;
	line-height:30px;
  font-size: 25px;
  background: #404d5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
}

.btn-bleep:hover {
  color: #f0efee;
  background: hsl(211, 17%, 40%);
}

