body {
  background-color: #f0efee;
}

.container {
  height:1000px;
}

.video-placeholder {
  display: block;
  position: relative;
  width:426px;
  height:240px;
  background-color: #404d5b;
  margin: 20px auto 0 auto;
}

.btn-bleep {
  position:relative;
  margin: 20px auto 0 auto;
  display: block;
	cursor: pointer;
  width:95px;
  color: #f0efee;
  font-size: 20px;
  background: #404d5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
}

.btn-bleep:hover {
  color: #f0efee;
  background: #556577;
}

